* {
  box-sizing: border-box;
}

body {
  background-image: url('../images/leaves-pattern.png');
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
}

.navbar-light .navbar-brand {
  background: #4aaaa5;
  color: #ffffff;
  padding: 20px;
  width: 200px;
  text-align: center;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 20px;
}

.navbar {
  padding: 0px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-bottom: 30px;
}

.navheader,
.navbar-light,
.navbar-expand-lg,
.bg-light,
.navbar-toggler,
.navbar-toggler-icon,
#navbarNavAltMarkup {
  background: white;
}

.container {
  border-top: 30px;
  /* border: 5px solid black; */
}
